body {
    margin: 0;
    font-size: 20px !important;
    line-height: 1.6 !important;
    height:1080px;
}
::selection {
    background-color: blue;
    color: #fff
}
body.full .cover {
    height: 450px;
}
.container hr {
    border: 0;
    height: 2px;
    width: 35%;
    background-color: brown;
}
.container {
    margin: 0 auto;
    max-width: 36rem;
}
.header {
    text-transform: uppercase;    
}
.header .nav-top {
    background: #0B486B; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0B486B , #F56217); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0B486B , #F56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    z-index: 3;
    position: fixed;
    width: 100%;
}
.header .nav-top .container {
    padding: 0 5px
}
.header .logo {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-family: 'AvenirNextLTW01-BoldIta';
    color: #fff;
    padding-right: 10px;
}
.header .logo marquee {
    display: inline-block;
    width: 100px;
    vertical-align: bottom;
}
.header a {
    border-bottom: 2px solid transparent
}
.header a:hover {
    border-color: #fff
}
.header .nav {
    display: inline-block;
    float: right;
    padding-left: 0;
    margin: 0;
    margin-top: -2px
}
.header .nav a {
    font-family: 'AvenirNextLTW01-BoldIta';
    font-size: 11px;
    text-decoration: none;
    padding: 7px;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    color: #fff
}
.header .cover {
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-image: url(/assets/images/city.jpg);
    /*background: url(/assets/images/city-2.jpg) fixed;*/
    /*background:url(/assets/images/city-2.jpg) top right no-repeat; background-attachment:fixed;*/
}
.photo-sphere {
    border-radius: 50%;
    padding:5px;
    border:1px solid black;
    position:absolute; 
    margin: auto; 
    left: 0; 
    right: 0; 
    top: 320px;
    background-color: white; 
    height: 200px;
}
.photo-sphere-sm {
    border-radius: 50%;
    /*padding:1px;*/
    border:.25px solid black;
    /*background-color: white; */
    position:absolute;
    /*left:380px;*/
    /*left:440px;*/
    top:2px;
    z-index: 4;
    display: none;
}
.content {
    padding: 0 2rem
}
.content p {
    text-align: center;
}

html {
    font-size: 16px;
    font-family: "AvenirNextLTW01-Regular", "Avenir Next", sans-serif;
    line-height: 1.6 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    color: #374172;
    font-weight: normal;
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    word-break: break-word
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
    text-align: center
}`
.content h1 {
    line-height: 36px;
    font-size: 36px;
    padding-bottom: 20px
}
b,
strong {
    color: #222
}
strong em,
h2 em {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-style: italic
}
em,
i {
    font-family: "AvenirNextLTW01-Italic", "Avenir Next", sans-serif;
    font-style: normal
}
a {
    color: blue
}
.header li {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-weight: normal;
    font-size: 15px
}
.content .date {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-weight: normal;
    font-size: 13px
}
.content p {
    margin: 1rem 0 1rem 0
}
./* content a {
    text-decoration: none !important;
    border-bottom: 2px solid #CCCCFF;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease
} 
.content a:hover {
    border-color: blue;
}*/
@media (min-width: 38em) {
    html {
        font-size: 20px 
    }
}
.cert-container {
    /*height:370px; */
    height: auto;
    max-width: 100%;
    /*min-width: 1120px;*/    
    padding: 20px 0 20px 0;
    background-color: #BBEBFF;
    -webkit-box-shadow: inset 0px 0px 40px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 40px -13px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 40px -13px rgba(0,0,0,0.75);
}
.res-cert-container {
    width: 100%;
    background-color: #003c4d;
}
.res-cert-wrapper {
    text-align: center;
    width: 30%;
    margin:auto;
    min-width: 225px;
}
.res-cert {
    display: none;
}
.find-me {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.find-me li {
    float:left;
    margin:0 -70px 0 20px;    
}
.find-me a {
    display: block;
    /*text-indent: -9999px;*/
    width: 100px;
    height: 20px;    
}
#facebook {    
    background:url(/assets/images/SVG/facebook.svg) no-repeat;
    background-size: 20%;
    text-decoration: none !important;
}
#steam {
    background:url(/assets/images/SVG/steam.svg) no-repeat;
    background-size: 20%;
}
#github {
    background:url(/assets/images/SVG/github.svg) no-repeat;
    background-size: 20%;
}
#ig {
    background:url(/assets/images/SVG/instagram.svg) no-repeat;
    background-size: 20%;
}
#linkedin {
    background:url(/assets/images/SVG/linkedin.svg) no-repeat;
    background-size: 20%;
}
#spotify {
    background:url(/assets/images/SVG/spotify.svg) no-repeat;
    background-size: 20%;
}
#twitter {
    background:url(/assets/images/SVG/twitter.svg) no-repeat;
    background-size: 20%;
}
#youtube {
    background:url(/assets/images/SVG/youtube.svg) no-repeat;
    background-size: 20%;
}
@media screen and (max-width: 618px) {
    .cert-container {
        display: none;
    }
    .cert-wrapper {
        display: none;
    }
    .res-cert {
        display: block;
        width: 100%;
        background: url(/assets/images/certs/cert_head_responsive.png) no-repeat center;
        background-size: 100%;
        height: 50px;
    }
    .find-me li {
        float:left;
        margin:0 -70px 0 10px;    
    }
}
.find-me-wrap {
    height: 20px; 
    padding: 50px 0 0 0; 
    text-align: center;
}
.cert-wrapper {
    text-align: center;
    /*position: relative;*/
    width: 40%;
    margin: auto;
    min-width: 600px;
}
.img-resize {
    display: inline-block; 
    height: auto; 
    width: 30%;
}
footer {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-weight: normal
}
.wrapper {
  /*min-height: calc(100% + 100px);*/
  height: 600px;
  margin-bottom: -100px;
  padding-top: 50px;
}

.wrapper:after {
  display: block;
  content: "";
  height: 600px;
  padding-top: 50px;
}

.footer { 
  background-color:#f2f3f3;
  border-top:1px solid #bdc1c4;       
  height: 100px;
  color: #9ba1a6;
  top: 30px ;
  font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-size:13px;
}
.footer-content {
    display:inline-block; 
    vertical-align:middle; 
    line-height: 100px; 
    margin-left: 50px;
}
