<div class="find-me-wrap">
    <ul class="find-me">
        <li><a href="http://facebook.com/ayancruz" id="facebook" target="_blank"></a></li>
        <li><a href="http://instagram.com/zurcnay4" id="ig" target="_blank"></a></li>
        <li><a href="https://au.linkedin.com/in/bayanicruz" id="linkedin" target="_blank"></a></li>
        <li><a href="https://github.com/zurcnay4/" id="github" target="_blank"></a></li>
        <li><a href="http://steamcommunity.com/id/nay4/" id="steam" target="_blank"></a></li>
        <li><a href="https://open.spotify.com/user/zurcnay4" id="spotify" target="_blank"></a></li>
       <!--  <li><a href="#" id="twitter"></a></li>
       <li><a href="#" id="youtube"></a></li> -->
    </ul>
    <!-- <hr> -->
  </div>