---
---
<!DOCTYPE html>

<html lang="en" id="bootstrap-overrides">
<head>
  <meta charset="UTF-8">
  <title>Bayani Cruz</title>

  <link rel="stylesheet" href="//fast.fonts.com/cssapi/d70ca5cd-778e-48cc-9e59-6b276425c670.css" type="text/css" />  
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/> -->  
<!--   <link rel="stylesheet" href="/css/reset.css" type="text/css"/>
<link rel="stylesheet" href="/css/style.css" type="text/css"/> -->
  <link rel="stylesheet" href="/css/main.css" type="text/css"/>
  <script src="/js/jquery-3.1.0.min.js"></script>
 <!--  <script src="/js/main.js"></script>
 <script src="/js/modernizr.js"></script> -->
  <!-- <script src="/js/bootstrap.js"></script> -->

<script>
{% if page.url == "/" %}
    $(function() {
        $(window).scroll(function() {
            if($(window).scrollTop() >= 500) {  
                $('.photo-sphere-sm').fadeIn('fast');
                $('.photo-sphere').fadeOut('fast');
            }else{
                $('.photo-sphere-sm').fadeOut('fast');
                $('.photo-sphere').fadeIn('fast');
            }
        });
    });
    {% endif %}
 </script>
</head>
<body class="full">
{% if page.url == "/" %}
<div class="layout">
{% else %}
<div>
{% endif %}
  <div class="header">
    <!-- === -->
    <!-- nav -->
    <!-- === -->
    <div class="nav-top" >      
      <div class="container" >
        <a href="/" class="logo">Bayani Cruz</a>
        <img src="/assets/images/oz.jpg" class="photo-sphere-sm" height="27px" width="27px">
        <div class="nav">
          <a href="/about">About</a>
          <a href="/blog">Blog</a>
          <a href="/contact">Contact</a>
        </div>
      </div>
    </div>

      <!-- ===== -->
      <!-- photo -->
      <!-- ===== -->
      
      <div class="cover"></div>
      {% if page.url != "/" %}
        {% include find-me.html %}
        </div>
      {% endif %}
      

{{ content }}

<!-- ======= -->
<!-- footer -->
<!-- ======= -->
<div class="res-cert-container">
    <div class="res-cert-wrapper">
      <div class="res-cert"></div>
    </div>
    <div class="footer">
  <div class="footer-content">
    © 2016 zurcnay4.
    
  </div>
</div>
  </div> 
